$color-purple: #3019b2;
$color-yellow: #f7ca11;
$color-navy: #271c47;

$color-gray: #9f9f9f;
$color-text-muted: #4e4e4e;
$color-surface: #f4f4f4;
$color-gray-light: #f0f0f0;
$color-off-white: #f6f5f2;
$color-white: #fff;
$color-black: #000;

$font-family: 'Poppins', sans-serif;

$content-width: 1280px;
$content-gutter: 80px;
